<% provide(:search_name, 'コンテンツ検索') %>
<% provide(:path, root_path) %>
  <div class="row">
      
      
    
    
	
    <table class="table table-bordered">
        <tr>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;時間管理表&quot;}">時間管理表</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;指定勤務時間&quot;}">指定勤務時間  8.00</td>
            <td rowspan="1" colspan="3" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;基本時間&quot;}">7.50  基本時間</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;初日&quot;}">初日</td>
        </tr>
        <tr>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;所属&quot;}">所属</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;氏名&quot;}">氏名</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;コード&quot;}">コード</td>
            <td></td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;出勤時間&quot;}">出勤時間</td>
            <td data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;締め&quot;}">締め</td>
        </tr>
    </table>
    
    <%= link_to "勤怠を編集", login_path, class: "btn btn-default btn-lg active" %>

    
    
     <%= render 'static_pages/work_display' %>
 
    
    
    
  </div>
  
  