<% provide(:search_name, 'コンテンツ検索') %>
<% provide(:path, root_path) %>

  <div class="row">
      
    <% if current_user.admin? %>
       <%= render "works/leader_display" %>
    <% else %>
       <%= render "works/work_display" %>
    <% end %>
    
    
    
  </div>
  
  