<table>
	<style type="text/css"></style></table>
	<table>
		<tr>
			<td>日付</td>
			<td>曜日</td>
			<td>出社</td>
			<td>退社</td>
			<td>在社時間</td>
			<td>備考</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
