<% provide(:title, "勤怠ログ") %>
<h1>勤怠ログ</h1>
<%= current_user.name %>

<table class="table table-bordered table-striped">		
        <tr>
			<td>日付</td>
			<td>変更前出社時間</td>
			<td>変更前退社時間</td>
			<td>変更後出社</td>
			<td>変更後退社</td>
			<td>指示者</td>
		</tr>
		
    　　              <tr>
  
  
                    
                    
    <!--曜日-->
                    <td></td>
            
            
    <!-- 出勤時間ー変更前 -->
                    <td>
                        
                    </td>
    <!-- 退社時間ー変更前  -->
                    <td>
                        
                    </td>
    <!--出社時間ー変更後-->
                    <td class="center">
                            
                    </td>
    <!-- 退社時間ー変更後  -->
          　         <td>
                      
          　         </td>
    <!-- 指示者  -->
          　        <td></td>
    
      
                </tr>

  
        
        
        
        
                <tr>
                    <td rowspan="1" colspan="2"></td><!-- 総合勤務時間の表示  -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td><!-- 在社時間の合計の表示  -->
                    
            
                </tr>
    
	    </table>