<li>
  <%= user.name %><br>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, class: "btn btn-primary", method: :delete,
                                  data: { confirm: "本当に削除してもいいですか？" } %>
      <div class="well">
        <%= link_to "編集", user, class: "btn btn-primary btn-lg" %>
      </div>
  <% end %>
</li>