<select id="year_select" name="y" style="width:100px;">
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013" selected="selected">2013</option>
    <option value="2014">2014</option>
</select>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<script>
    $("select#year_select").change(function(){
        $.ajax({
            url: "/users/change_session_year",
            type: "GET",
            data: {year : $(":selected").attr("value")
                    },
            dataType: "html",
            success: function(data) {
                alert("success");
            },
            error: function(data) {
                alert("errror");
            }
        });
    });
    
</script>
